DATABASE_URL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_USERNAME=
DEFAULT_USER_PASSWORD=
DEFAULT_USER_PHONE=
DEFAULT_USER_USERNAME=
DIRECT_URL=
JWT_SECRET=
LIPANA_BASE_URL=
LIPANA_SECRET_KEY=
LIPANA_WEBHOOK_SECRET=
MPESA_SIMULATE_SUCCESS=
NESTLINK_API_KEY=
NESTLINK_SECRET_KEY=
NESTLINK_BASE_URL=
NESTLINK_WEBHOOK_SECRET=
NESTLINK_SIMULATE_SUCCESS=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=